<template>
  <b-breadcrumb :items="path" class="bg-transparent"/>
</template>

<script>
  export default {
    computed: {
      path() {
        return this.$route.meta.breadcrumb.map(({ text, textFromRoute, to }) => ({
          text: text ? text : textFromRoute(this.$route),
          to: { name: to },
        }));
      }
    }
  }
</script>
