<template>
  <b-navbar type="dark" variant="info" sticky>
    <b-navbar-brand to="/">Hermes</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"/>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="mr-auto">
        <breadcrumb/>
      </b-navbar-nav>
      <b-navbar-nav class="mx-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Experiment name"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit" variant="outline-primary">Search</b-button>
        </b-nav-form>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown text="User" right>
          <b-dropdown-item href="#" right>Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
  import Breadcrumb from '@/components/Breadcrumb'

  export default {
    components: {
      Breadcrumb
    }
  }
</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.breadcrumb {
  margin: 0px;
  float: left;
}

.breadcrumb-item {
  span, a, &::before {
    color: #fffb !important;
  }

  a:hover {
    color: #fff !important;
    text-decoration: none;
  }
}

.navbar {
  .nav-link {
    color: #fffb !important;
  }

  .nav-link:hover {
    color: #fff !important;
  }

  .btn-outline-primary {
    background: #fff;
  }

  .btn-outline-primary:hover {
    background-color: theme-color("primary");
  }
}
</style>
