<template>
  <b-col v-if="$route.meta.experiment" id="sidebar" cols="2" xl="1" class="shadow">
    <b-nav vertical align="left" class="position-fixed mt-3">
      <b-nav-item :to="{ name: 'experiment_plots' }">Plots</b-nav-item>
      <b-nav-item :to="{ name: 'experiment_logs' }">Logs</b-nav-item>
      <b-nav-item :to="{ name: 'experiment_properties' }">Properties</b-nav-item>
    </b-nav>
  </b-col>
</template>

<style lang="scss">
#sidebar .nav-link {
  padding: 0.5rem 0.2rem;
}
</style>
