<template>
  <div class="accordion" role="tablist">
    <b-card v-for="log in logs" :key="log.name" no-body>
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle="'logs-' + log.name" variant="secondary-outline">{{ log.name }}</b-button>
      </b-card-header>
      <b-collapse :id="'logs-' + log.name" visible role="tabpanel">
        <b-card-body>
          <pre>{{ log.content }}</pre>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    logs: [
      {
        name: "stdout",
        content: "Trolololololololo.",
      },
      {
        name: "stderr",
        content: "Nasty error.",
      },
    ]
  })
}
</script>

<style lang="scss">
</style>
