<template>
  <div>
    <b-card-group deck>
      <b-card v-for="plot in plots" :key="plot.name" class="plot-container mb-4">
        <b-aspect aspect="16:9">
          <experiment-plot :data="plot.data"/>
        </b-aspect>
        <b-card-title align="center">{{ plot.name }}</b-card-title>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
  import ExperimentPlot from '@/components/ExperimentPlot'
  
  export default {
    components: {
      ExperimentPlot
    },
    data() {
      return {
        plots: [
          {
            name: 'avg_return',
            data: {
              xs: [0, 1, 2],
              lines: [
                {
                  ys: [0, 1, 2],
                  label: 'Data One',
                  color: '#f87979',
                }, {
                  ys: [2, 1, 0],
                  label: 'Data Two',
                  color: '#79f879',
                }
              ]
            }
          }, {
            name: 'solved_rate',
            data: {
              xs: [0, 1, 2],
              lines: [
                {
                  ys: [0, 1, 2],
                  color: '#7979f8',
                }
              ]
            }
          }
        ]
      }
    }
  }
</script>

<style lang="scss">
.plot-container {
  min-width: 350px;
}
</style>
