<template>
  <div class="overflow-auto">
    <b-table
      id="sweeps"
      :fields="expFields"
      :items="items"
      primary-key="name"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template #cell(description)="row">
        <b v-if="row.item.isSweep">{{ row.item.description }}</b>
        <router-link v-else :to="`/exp/0`">{{ row.item.name }}</router-link>
      </template>

      <template #cell(show_experiments)="row">
        <b-button
          v-if="row.item.isSweep"
          size="sm"
          @click="sweeps[row.index].expanded = !sweeps[row.index].expanded"
          class="mr-2"
        >
          {{ sweeps[row.item.index].expanded ? 'V' : '>'}}
        </b-button>
      </template>
    </b-table>

    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="sweeps"
      align="center"
    ></b-pagination>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        sweeps: [
          { description: "AlphaZero on Go, small network", created_at: "yesterday", expanded: false, exps: [
            { name: "alphazero_on_go_small_network", status: 'running', started_at: 'now' },
            { name: "alphazero_on_go_big_network", status: 'running', started_at: 'now' },
          ] },
          { description: "DQN on Pong", created_at: '683 years BC', expanded: false, exps: [] },
          { description: "AWR on HalfCheetah", created_at: '321 years after apocalypse', expanded: false, exps: [] },
          { description: "STS on GFootball", created_at: 'never', expanded: false, exps: [] },
        ],
        perPage: 10,
        currentPage: 1,
        sweepFields: [
          'show_experiments',
          'description',
          'created_at',
        ],
        expFields: [
          'show_experiments',
          'description',
          'status',
          'started_at',
        ],
      }
    },
   computed: {
      items() {
        const items = []
        for (const [index, sweep] of this.sweeps.entries()) {
          items.push(Object.assign({}, sweep, { exps: undefined, index: index, isSweep: true }))
          if (sweep.expanded) {
            for (const exp of sweep.exps) {
              items.push(Object.assign({}, exp, { sweepIndex: index, isSweep: false }))
            }
          }
        }
        return items
      },
      rows() {
        return this.items.length
      },
    },
    async mounted() {
      let response = await this.$http.get('/api/sweeps')
      const sweeps = response.data.map(
        sweep => Object.assign(sweep, { expanded: false, exps: [] })
      )
      response = await this.$http.get('/api/experiments')
      response.data.map(exp => {
        const sweep = sweeps.find(sweep => sweep.name == exp.sweep_name)
        sweep.exps.push(exp)
        exp.started_at = exp.started_at ? exp.started_at : '-'
        return exp
      })
      this.sweeps = sweeps
    },
  }
</script>
