<template>
  <div>
    <b-table
      id="experiments"
      :fields="fields"
      :items="items"
      primary-key="name"
      small
    >
      <template #cell()="data">
        <pre>{{ data.value }}</pre>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data: () => ({
    fields: ['name', 'value'],
    items: [
      { name: 'Atari.game', value: '"pong"' },
      { name: 'Runner.agent_class', value: '@alpacka.agents.StochasticMCTSAgent' },
      { name: 'Runner.env_class', value: '@alpacka.envs.Atari' },
      { name: 'StochasticMCTSAgent.n_passes', value: '50' },
    ]
  })
}
</script>
