<template>
  <div id="app">
    <navbar/>
    <b-container fluid class="vh-100">
      <b-row class="vh-100">
        <sidebar/>
        <b-col>
          <b-card class="border-0">
            <router-view/>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import Navbar from '@/components/Navbar'
  import Sidebar from '@/components/Sidebar'

  export default {
    components: {
      Navbar,
      Sidebar,
    }
  }
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
